@font-face {
  font-family: "iconfont"; /* Project id 3660814 */
  src: url('iconfont.woff2?t=1691649337361') format('woff2'),
       url('iconfont.woff?t=1691649337361') format('woff'),
       url('iconfont.ttf?t=1691649337361') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yousong-1:before {
  content: "\e6fa";
}

.icon-change:before {
  content: "\e88c";
}

.icon-yuyin:before {
  content: "\e610";
}

.icon-gouwuche:before {
  content: "\e73d";
}

.icon-baohufanweixian:before {
  content: "\e73f";
}

.icon-guanbidanchuang:before {
  content: "\e73e";
}

.icon-mianhuatang:before {
  content: "\e6c8";
}

.icon-jiantou_xiangzuo:before {
  content: "\eb09";
}

.icon-sousuo1:before {
  content: "\e693";
}

.icon-QQ:before {
  content: "\e65e";
}

.icon-weibo:before {
  content: "\e73c";
}

.icon-weixin:before {
  content: "\e607";
}

.icon-biaoqiankuozhan_wode-215:before {
  content: "\eb51";
}

.icon-biaoqiankuozhan_wode-325:before {
  content: "\ebb6";
}

.icon-touxiang:before {
  content: "\e655";
}

.icon-xiangyou:before {
  content: "\e666";
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-huo:before {
  content: "\e66c";
}

.icon-VIP:before {
  content: "\e688";
}

.icon-sousuo:before {
  content: "\eafe";
}

.icon-huo-copy:before {
  content: "\eaff";
}

.icon-sousuo-copy:before {
  content: "\eb00";
}

.icon-VIP-copy:before {
  content: "\eb01";
}

.icon-huo-copy1:before {
  content: "\ebb7";
}

